h1 span{
    color: #037bc0;
}

.main-title {
    text-align: center;
}

.navigation {
    border-top: 1px solid #e1e1e1;
    padding-block: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: #000;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 550px;
    background-image: url("../img/principal.webp");
    background-size: cover;
}

/* Main section */

h2 {
    text-align: center;
}

.category-list {
    display: grid;
    width: 90%;
    margin: 10px auto;
    grid-template-columns: repeat(3, 1fr);
}