:root {
    --blue: #037bc0;
    --white: #e1e1e1;
    --black: #000;
}

h1 span{
    color: var(--blue);
}

.main-title {
    text-align: center;
}

.navigation {
    border-top: 1px solid var(--white);
    padding-block: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: var(--black);
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 550px;
    background-image: url("../img/principal.webp");
    background-size: cover;
}

/* Main section */

h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

/* Categories */
.category-list {
    display: grid;
    width: 90%;
    margin: 10px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category a{
    text-align: center;
    display: block;
    font-size: 20px;
    padding-block: 10px;
}

.category a:hover {
    background-color: var(--blue);
    border-radius: 5px;
}