@import url(./utilities.css);

html {
    font-size: 62.5%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h1 span{
    color: var(--blue);
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    line-height: 2;
}

.main-title {
    text-align: center;
}

.navigation {
    border-top: 1px solid var(--white);
    padding-block: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: var(--black);
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 550px;
    background-image: url("../img/principal.webp");
    background-size: cover;
    background-position: center;
}

/* Main section */
img {
    max-width: 100%;
}

/*About us*/

.about-us {
    width: 100%;
    background-image: linear-gradient(to right, transparent 50%, var(--blue) 50%, var(--blue) 100%), 
    url(../img/nosotros.webp);
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
}

.about-us--content {
    grid-column: 2;
    color: var(--white);
    text-align: left;
}

/* Categories */
.category-list {
    display: grid;
    width: 90%;
    margin: 10px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category a{
    text-align: center;
    display: block;
    font-size: 2rem;
    padding-block: 10px;
}

.category a:hover {
    background-color: var(--blue);
    border-radius: 5px;
}

/* Products section */ 

.products-section {
    width: 90%;
    margin: auto;
}

.list-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.product {
    text-align: center;
    color: var(--white);
    background-color: var(--blue);
}

.product:nth-child(1) {
   grid-column: 1 / 7;
   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 2rem;
}

.product:nth-child(1) img {
    height: 48rem;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(2) {
    grid-column: 1 / 4;
}

.product:nth-child(3) {
    grid-column: 4 / 7;
}

.product:nth-child(4) {
    grid-column: 1 / 3;
}

.product:nth-child(5) {
    grid-column: 3 / 5;
}

.product:nth-child(6) {
    grid-column: 5 / 7;
}

.price {
    font-weight: 900;
    font-size: 2.8rem;
}

.text-product a{
  background-color: var(--green);
  display: block;
  text-transform: uppercase;
  color: var(--white);
  padding: 1rem;
  max-width: 90%;
  margin: 1.5rem auto;
  transition: background-color .3s ease-out;
}

.text-product a:hover {
    cursor: pointer;
    background-color: var(--green-strong);
}